* {
    font-family: 'Helvetica';
}

body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

/* NAVBAR */

nav {
    background-color: #F1F3FF;
}

ul li a {
    font-family: 'Helvetica';
    font-style: normal;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    margin-right: 20px;
}

.logo {
    background-color: #0D28A6;
    width: 100px;
    height: 34px;

}

.regist {
    background-color: #5CB85F;
    color: white;
    border: #5CB85F;
    padding: 8px 12px;
    border-radius: 2px;
    line-height: 20px;
}

/* ini untuk HOME */

.deskripsi-services {
    padding-left: 5rem;
}

.home {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    width: 568px;
}
.judulhome {
    font-family: 'Helvetica';
    font-weight: 20px;
    font-size: 10px;
    line-height: 10px;
    width: 100px;
    height: 150;
    text-emphasis: bold;
}

.isi-home {
    height: 150;
}

.tombol{
    background-color: #5CB85F;
    color: white;
    border: #5CB85F;
    padding: 8px 12px;
    border-radius: 2px;
    line-height: 20px;
}

.tombol {
    background-color: #5CB85F;
    color: white;
    border: #5CB85F;
    padding: 8px 12px;
    border-radius: 1px;
    line-height: 20px;
}


.img-header {
   width: 100%;
}

.img-car {
    width: 100%;
    margin-left: 12px;
}

/* ABOUT */

.about {
   margin: 6rem 0 6rem 6rem;
}

.desc-about {
    width: 40%;
}

.judul-about {
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
}

.title-capt {
    font-size: 14px;
    font-family: 'Helvetica';
    line-height: 20px;
    font-weight: 300;
    width: 90%;
}

.capt-about > p {
    font-size: 14px;
    font-family: 'Helvetica';
    line-height: 20px;
    font-weight: 200;
    margin-top: 10px;
}

.capt-about > p > span {
    margin-right: 15px;
}

.img-about {
    width: 200%;
}

.img-girl {
    width: 45%;
    margin-right: 200000px;
    margin-bottom: 50px;
    
}

.judul-about{
    width: 500px;
    height: 60px;
}

.title-about {
    padding-top: 30px;
    margin-bottom: 50px;
    width: 400px;
    
}


/* SERVICES */

.judul-services {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.capt-services {
    margin-bottom: 3rem;
}

.card {
    background-color: #f7f7f7;
    width: 220px;
    height: 198px;
    border: 1px solid #D0D0D0;
}

.isi {
    width: 80%;
    gap: 10px;
    margin: auto;
}

.isi > h3 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 16px;
    font-family: 'Helvetica';
    font-weight: 700;
}

.isi > p {
    font-size: 14px;
    font-family: 'Helvetica';
}

/* RATING */

.card-rating {
    background-color: #F1F3FF;
    width: 619px;
    height: 270px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin: auto;
}

.rating-text {
    width: 415px;
}

.prev,.next {
    border: none;
    background-color: #f7f7f7;
}

.btn-card:hover {
    fill: #5CB85F;
}

.btn-card:hover + .arrow {
    stroke: white;
}

.rent-now {
    height: 326px;
    margin: auto;
}

.rent-isi {
    margin-top: 1rem;
}

.rent-text {
    width: 468px;
}

.rent-now-btn {
    background-color: #5CB85F;
    color: white;
    border: #5CB85F;
    padding: 8px 12px;
    border-radius: 2px;
    line-height: 20px;
}

/* FOOTER */

.addres-text {
    width: 70%;
}


   

    #about {
        margin-left: -5rem;
    }

    .footer {
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
    }

    .addres > p {
        margin: 20px auto;
    }

    .service {
        margin: 15px auto;
    }

    .contact {
        margin: 20px auto;
    }

    .copyright {
        margin: 20px auto;
    }